.card-header h3{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 50px;
    font-size: 35px; 
    float: left;
    color: #7692C6;
}



.card-header button{
    float: right;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin-top:10px; 
    width: 150px;
    height: 40px;
    text-align: center;
    border: none;
    background: #E98885;
    color: white;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);

}

.card-header button:hover{
    background: #7692C6;
    color: white;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);

}

.ant-layout-content{
    height: 800px;
    background: none;
    width: auto;
}


.card-room-item{
    height: 110px;
    width: auto;
    min-width: 568px;
}


.card-room-list{
    min-width: 568px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    background-image: url('../../media/4288320.jpg') ;

}

.card-room-item img{
    background-image: url("../../media/door.png");
    background-size: 70px 70px;
    float: left;
    width: 75px; 
    height:75px;
    border: 3px solid #E98885;
    border-radius: 50%; 
    margin: 15px; 
}



.card-room-item button{
    float: right;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin-top:20px; 
    width: 90px;
    height: 40px;
    text-align: center;
    border: none;
    background: #7692C6;
    color: white;
}

.card-room-item button:hover{
    background: rgb(154, 179, 226);
}



.card-room-item .card-title{
    margin-top:10px; 
    font-size: 24px;
    color:#7692C6;
}

.card-room-item .card-title span{
    color: rgb(218, 79, 74);
}

.infor-user{
    min-width: 338px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}


img #icon-win{
    background-image:  url("../../media/award.png") !important;
}

.infor-user #avatar{
    background-image: url("../../media/ninja.png");
    background-size: 60px 60px;
    width: 65px;
    height: 65px;
    border: 3px solid #7692C6;
    border-radius: 50%; 
    margin-top: 8px; 
}

.infor-user p{
    font-size: 24px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #7692C6;
}

.infor-user .card-body p{
    font-size: 16px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #7692C6;
}


.card-body .col{
    font-size: 14px;
}

.ranking .card-header{
    font-size: 24px;
    color: white ;
    font-weight: bold;
    border: none;
    background-image: -webkit-linear-gradient(left, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%,
    #b12a5b 100%);
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%,
    #b12a5b 100%); 
     
}


.rank-item .avatar-rank{
    background-image: url("../../media/ninja1.png");
    background-size: 40px 40px;
    width: 45px;
    height: 45px;
    border: 3px solid #7692C6;
    border-radius: 50%; 
    margin: 5px 0px 5px 10px;
}

.rank-item{
    justify-content: 'center';
    margin: 5px 0px 5px 0px;
  

}

.ranking{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    margin-top: 10px; 
    min-width: 338px;
}

.rank-item .card{
    min-width:  320px;
    height: 60px;
}

.rank-item  .card-title{
    color: #E98885;
    margin-top: 10px ;
    font-weight: bold;
    font-size: 18px;
}



.roomList{
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.ant-modal-title{
    color: #E98885 !important;
    font-size: 24px;
}

.ant-modal-footer button{
    background-color: #ff8177;
    border: none;
    color: white;
}

.ant-modal-footer button:hover{
    background-color: #7692C6;
    color: white;
}